*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* .container::after{
    clear: both;
    content: '';
    display: block;
} */

.container{
    width: 70%;
    height: 700px;
    margin: 0 auto;
    /* background-color: blue; */
    display: flex;
}
.carosel {
    width: 100%;
    height: 60%;
    margin: auto;
    display: flex;
    position: relative;
    /* background-color: red; */
}
.navigation {
    width: 100px;
    height: 100%;
    /* background-color: yellow; */
    display: flex;
}

.preview {
    float: left;
}

.next {
    float: right;
}

.fas {
    font-size: 50px;
    color: grey;
    margin: auto;
}

.fas:hover {
    color: black;
    cursor: pointer;
    transition: color 1s;
}

.slider {
    width: 100%;
    height: 100%;
}
.slider img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: none;

}
.slider img.active {
    display: block;
}

.circle-container  {
    position: absolute;
    bottom: -30px;
    left: 450px;
    cursor: pointer;
}

.circle-container i.active {
    background-color: black;
    border-radius: 100%;
}

.tasti i {
    position: absolute;
    bottom: -36px;
    left: 41%;
    font-size: 30px;
    display: none;
}

.tasti i.active{
    display: block;
}
